[RMI] MicroRato projec/simulator/** linguist-detectable=false
[RMI] MicroRato projec/GUISample/** linguist-detectable=false
[RMI] MicroRato projec/Labs/** linguist-detectable=false
[RMI] MicroRato projec/Viewer/** linguist-detectable=false
[RMI] MicroRato projec/jClient/** linguist-detectable=false
[RMI] MicroRato projec/libRobSock/** linguist-detectable=false
[RMI] MicroRato projec/logplayer/** linguist-detectable=false
[RMI] MicroRato projec/robsample/** linguist-detectable=false
[RMI] MicroRato projec/simulator/** linguist-detectable=false
[CV]-Solar_System_3D_Projection/** linguist-detectable=false
