css/** linguist-detectable=false
docs/** linguist-detectable=false
fonts/** linguist-detectable=false
images/** linguist-detectable=false
marketplace/** linguist-detectable=false
prototype/** linguist-detectable=false
v1/** linguist-detectable=false
v2/** linguist-detectable=false
js/** linguist-detectable=false
