css/** linguist-vendored=false
docs/** linguist-vendored=false
fonts/** linguist-vendored=false
images/** linguist-vendored=false
marketplace/** linguist-vendored=false
prototype/** linguist-vendored=false
v1/** linguist-vendored=false
v2/** linguist-vendored=false
js/** linguist-vendored=false
