assets/** linguist-detectable=false
acerca.html linguist-detectable=false
como funcionam.html linguist-detectable=false
gtx280.html linguist-detectable=false
index.html linguist-detectable=false
gtx1080.html linguist-detectable=false
gtx980.html linguist-detectable=false
gtx680.html linguist-detectable=false
